body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #C737D7,#2BE8E8 );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.images {
  max-width: 200px;
  height: 300px;
  min-height: 300px;
  border-radius: 10px;
  background-color: black;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: thick;
}

.navBtn{
  border: 1px solid black;
  background: none;
  padding: 3px 15px;
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
}
#btn1, #btn2, #btn3, #btn4, #btn5, #btn6{
  color: teal;
}
#btn1:hover, #btn2:hover, #btn3:hover, #btn4:hover, #btn5:hover, #btn6:hover{
  color: black;
}
.navBtn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: teal;
  z-index: -1;
  transition: 0.7s;
}
#btn1::before, #btn2::before, #btn3::before, #btn4::before, #btn5::before, #btn6::before{
  top: 0;
  border-radius: 0 0 0 0;
}
#btn1:hover::before, #btn2:hover::before, #btn3:hover::before,  #btn4:hover::before, #btn5:hover::before, #btn6:hover::before{
  height: 100%;
}


#nav {
  text-align: center;
}

/* .waterBottleList{
  position: relative;
  width: 250px;
  height: 320px;
} */

/* .waterBottleCard {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
} */

/* .waterBottleCard:hover {
  transform: rotateY(180deg);
} */

/* .front-card{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  text-align: center;
  font-family: 'zilla salb', sans-serif;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
} */

/* .back-card{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  text-align: center;
  font-family: 'zilla salb', sans-serif;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
} */

.waterBottleList{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.waterBottleCard {
  float: left;
}